.loginWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgreen;
    height : 100vh;
}

.loginDiv {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

.loginForm {
    background-color: #212529; 
    color: #8a9a93; 
    padding: 30px 50px 30px 50px; 
    border-radius: 15px;
}

.loginFormDiv {
   text-align: center;
}

.loginFormStatusMsg {
    color: red;
}

.linkDiv {
    margin-top: 10px;
}

.createAccountLink {
    float : right;
}