.loginWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgreen;
    height : 100vh;
}

.loginDiv {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

.loginForm {
    background-color: #212529; 
    color: #8a9a93; 
    height: 300px;
    padding: 30px 50px 30px 50px; 
    border-radius: 15px;
}

.loginFormDiv {
   text-align: center;
   margin-top: 20px;
}

.loginFormStatusMsg {
    color: red;
    height: 8px;
    max-width: 275px;
    word-wrap: break-word;
}

.linkDiv {
    margin-top: -15px;
}

.createAccountLink {
    float : right;
}

.Button {
    background: none;
    border: none;
    padding: 0;
    color: white;
    cursor: pointer;
  }
  
  .Button:hover {
    text-decoration: underline;
  }
  
