

.btn,
.btn:active,
#dropdown_button,
#dropdown_button:checked,
#dropdown_button:visited,
#dropdown_button:active,
#dropdown_button:hover {
    background-color: #212529;
    border: none;
    box-shadow : none;
}

#top {
    height: 14vh;
    min-height: 120px;
    width: 100%;
    
}

#bot {
    min-height: 86vh;
    width: 100%;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Navbar {
    height: 10vh;
    text-align: center;
}

a:visited,
a:link {
    text-decoration: none;
    color: white
}
  

a:active,
a:hover {
    text-decoration: underline;
    color: white
}

.friendListCollapse {
  width: 300px;
}

.friendListButton {
  margin-top: 0px;
  margin-left: 5px;
  background: none;
  border: none;
  padding: 0;
  color: white;
  cursor: pointer;
}

.friendListButton:hover{
  text-decoration: underline;
}

.Button {
  margin-top: 8px;
  background: none;
  border: none;
  padding: 0;
  color: white;
  cursor: pointer;
}

.Button:hover {
  text-decoration: underline;
}

.postErrorDiv {
  margin-top: 10px;
}

.postErrorMsg {
  margin-left: 10px;
  height: 8px;
  color : red;
}

.postBubble {
  background-color: #212529;
  width: max-content;
  max-width: 600px;
  margin: auto;
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
  color: #8a9a93;
  word-wrap: break-word;
}

.friendListItem {
  width: max-content; 
  margin: 10px; 
  border: 2px; 
  background-color: #212529; 
  border-style: solid; 
  border-radius: 5px;
}

#friendListText {
  color: #8a9a93;
  margin: 5px;
}

.friendListUserLink {
  color: white;
  margin: 5px;
}

.friendListChatIcon {
  color: yellow;
  margin: 3px;
  border: none;
  background-color: #212529;
  margin-left: 10px;
  cursor: pointer;
}

.friendListRemoveIcon {
  color: red;
  margin: 5px;
  border: none;
  background-color: #212529;
  cursor: pointer;
}

.friendListAcceptIcon {
  color: green;
  margin: 3px;
  border: none;
  margin-left: 10px;
  background-color: #212529;
  cursor: pointer;
}

.navBar {
  height: 14vh;
  min-height: 120px;
  
}

.friendList {
  background-color: lightgreen; 
  border-width: 3px; 
  border-color: #212529;
}

#finduserinput a:link,
#finduserinput a:visited{
 color : black;
}

.findUserDiv {
  position: relative;
  display: inline-block;
  width: 300px;
}

.findUserForm {
  text-align: center;
  margin-top: 30px;
}

.findUserLink {
  margin-left: 10px;
}

.findUserStatusMessage {
  color: red;
  margin-top: 8px;
  height: 5px;
}

.logoutCollapse {
  width: 300px;
}

.logout {
  margin-right: 10px;
}

#logoutText {
  margin-top: 25px;
  color: #8a9a93;
}

#logoutp {
  text-align : center;
}

#logoutLink {
  color: white;
}

#logoutUserLink {
  color: white;
}

.botDiv {
  background-color: #212529; 
    color: white; 
    margin-top: 30px; 
    border-radius: 10px; 
    padding-top: 15px; 
    padding-bottom: 15px; 
    padding-left: 35px; 
    padding-right: 35px; 
    text-align: center;
}

.currentUserHeader {
  color: #8a9a93;
}

.friendStatusText {
  color: #8a9a93;
}

.createPostDiv {
  width: 600px;
  height: 160px;
}

.createPostGroup {
  margin-top: 15px;
}

.createPostText {
  margin-left: 10px;
}

textarea {
  resize: none;
}

.postDiv {
  background-color: lightgreen; 
  color: white; 
  padding: 10px; 
  border-radius: 10px; 
  max-width: 700px;
}

.chatDiv {
  width : min-content;
  height : min-content;
}