.dashboard_wrapper {
    background: lightpink;
}

.btn,
.btn:active,
#dropdown_button,
#dropdown_button:checked,
#dropdown_button:visited,
#dropdown_button:active,
#dropdown_button:hover {
    background-color: #212529;
    border: none;
    box-shadow : none;
}

#top {
    height: 14vh;
    min-height: 120px;
    width: 100%;
    
}

#bot {
    min-height: 86vh;
    width: 100%;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Navbar {
    height: 10vh;
    text-align: center;
}

a:visited,
a:link {
    text-decoration: none;
    color: white
}
  

a:active,
a:hover {
    text-decoration: underline;
    color: white
}


.postBubble {
  background-color: #212529;
  width: max-content;
  max-width: 600px;
  margin: auto;
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
  color: #8a9a93;
}

.friendListItem {
  width: max-content; 
  margin: 10px; 
  border: 2px; 
  background-color: #212529; 
  border-style: solid; 
  border-radius: 5px;
}

.friendListText {
  color: #212529;
  margin-left: 10px;
}

.friendListChatIcon {
  color: yellow;
  margin-left: 20px;
}

.friendListRemoveIcon {
  color: red;
  margin: 10px;
  margin-left: 15px;
}

.friendListAcceptIcon {
  color: green;
  margin: 10px;
  margin-left: 20px;
}