.dashboard_wrapper {
    
}
#dropdown_button,
#dropdown_button:visited,
#dropdown_button:active,
#dropdown_button:hover {
    background-color: #212529;
    border: none;
}

#top {
    height: 10vh;
    width: 100%;
}

#bot {
    height: 90vh;
    width: 100%;
    background-color: lightgreen;
}

#Navbar {
    height: 100px;
    text-align: center;
}


a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }